<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Labels
        <%= link_to icon(:tags, 'New Label'), new_label_path, remote: true, class: 'btn btn-primary btn-lg pull-right' %>
      </h1>

      <table id="labels-table" class="table table-responsive table-striped">
        <thead></thead>
        <tbody>
          <%= render partial: 'row', collection: @labels, as: :label %>
        </tbody>
      </table>
    </div>
  </div>
</div>
